h1{
    WIDTH: 100%;
    text-align: center;
}
h1{font-size: 350%;}
body{
    background-image: url("background.jpg");
}
li{font-size: 120%;}
li{WIDTH: 100%;
text-align: center;
}
ol{
    margin: auto;
    width: 50%;
}
ul{
    font-size: 20px;
    display: flex;
}
