h1{
    text-align: center;
    background-color: lightcyan;
}
h1{font-size: 350%;}
body{
    background-image: url("background.jpg");
}
li{font-size: 120%;}
li{WIDTH: 100%;
text-align: center;
}
ol{
    margin: auto;
    width: 50%;
}
ul{
    font-size: 20px;
    display: flex;
}

h1, p , li{
    color: pink;
}
h2{
    text-align: center;
    color: pink
}
nav {
    background-color: lightcyan;
}

main {
    background-color: lightcyan;
    font-size: 25px;
}

ul li{
    font-size:  30px;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 100px;
    height: 100px; 
}
li{text-align: left;}
li{font-size: 28px;}
li{color:pink}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu li{
    width: 30%;
}
h3{ text-align: center;
color: pink
}
h3{font-size: 20px;}
h3 {
    background-color:lightcyan;
}

img {
    width: 400px;
    height: 400px;
}
img {width: 400px;
    height: 400px;


}
img {width: 400px;
height: 400px;
}

